/**************************************************************************
*	            	            General	   			                      *
***************************************************************************/
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}
  
/**************************************************************************
*		                      Typography                	   		      *
***************************************************************************/

  
/**************************************************************************
*								Global			    					  *
***************************************************************************/